*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
}
.cursor{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: fixed;
    background-color: rgb(209, 209, 209);
  transform: translate(-50%,-50% ) scale(0);
}
.icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
.nav{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    margin-right: 40px;
}
.nav-part1{
     height: 83px;
     overflow: hidden;
}
.nav-part1 svg{
display: block;
}
.nav-part2 .links a{
text-decoration: none;
color: black;
margin-right: 30px;
font-weight: lighter;
text-transform: uppercase;
font-size: 13px;
}
.nav-part2 .icons i{
   margin: 0 30px;
    font-size: 18px;
}
*::selection{
    color: white;
    background-color: black;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 35vh;
  
}
.page1 h1{
    font-size: 16vw;
    font-family: futura;
    line-height: 13vw;
    letter-spacing: -8px;
    padding: 0 1vw;
}
.video-container{
    height: 100vh;
    background-color: gray;
    width: 98%;
    margin-top: 3vw;
    margin-left: 1%;
    position: relative;
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container .play{
    padding: 3vw 2vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50% ;
    opacity: 0;
    scale: 0;
} 
.page2{
    min-height: 100vh;
    width:98%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
    margin-left: 1%;
}
.page2 .elem{
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap ;
}
.page4{
    height: 100vh;
    width: 100%;   
    display: flex;
    align-items: center;
}
.email{
font-size: 1.7vw;
font-weight: bolder;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 20px;
border-bottom: 1px solid black;
margin-top: 10%;
}
.logo2{
 display: flex;
 align-items: center;
 justify-content: center;

 width: 100%;
}
.logo2 svg{
    opacity: 0;
}
.list{
    margin-left: 2%;
    width: 15vw;
}
.list h6{
 color: rgb(146, 146, 146);
 font-size: 12px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 100;
 text-transform: uppercase;
 padding-bottom: 10px;
}
.list ul li{
    list-style: none;
    font-size: 13px;
    font-weight: 100;
    padding-bottom: 7px;
    cursor: pointer;
}
.list2{
    margin-right: 2%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.list2 h6{
 color: rgb(146, 146, 146);
 font-size: 12px;
 text-transform: uppercase;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 100;
 padding-bottom: 10px;
}
.list2 ul li{
    list-style: none;
    font-size: 13px;
    font-weight: 100;
    padding-bottom: 7px;
    cursor: pointer;
}
.list2 ul li:hover{
    color: grey;
}
.list ul li:hover{
    color: grey;
}
.child{
    height: 55vh;
    width: 40vw;
    position: relative;
    margin-left: 10%;
    cursor: pointer;
    
}
.links{
    padding: 10px;
}
.page5{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    height: 10vh;
    width: 100%;
}
.page5 p{
    font-size: 12px;
    color: rgb(150, 150, 150);
    font-weight: 100;
}
.child img{
    height: 100%;
}
.dets{
    height: 40px;
    width: 80%;
    border-radius: 50px;
    position: absolute;
    background-color: rgb(250, 200, 207);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dets h1{
    font-size: 14px;
    font-weight: 100;
     padding-right: 30%;
 
}
.dot{
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
}
.dets:hover{
    height: 200px;
}

@media (max-width:600px){
    .nav{
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
        margin-right: 40px;
    }
    .nav-part1{
         height: 63px;
         overflow: hidden;
    }
    .nav-part1 svg{
    display: block;
    height: 63px;
    width: 80px;
    }
    .nav-part2 .links a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    }
    .nav-part2 .icons i{
       margin: 0 30px;
        font-size: 18px;
    }
    .page1 h1{
        font-size: 15vw; 
        line-height: 15vw;
        letter-spacing: -3px;
        padding: 0 3vw;
    }
    .page1{
        min-height: 70vh;
        width: 100%;
        position: relative;
        padding-top: 20vh;
      
    }
    .links{
        padding: 10px;
        display: none;
    }
    .video-container{
        height: 25vh;
        background-color: gray;
        width: 98%;
        margin-top: 3vw;
        margin-left: 1%;
        position: relative;
    }
    .video-container .play{
        padding: 7.5vw 5vw;
        background-color: black;
        color: white;
        font-size: 4vw;
        position: absolute;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 50% ;
        opacity: 1;
        scale: 1;
        left: 50%;
        top: 50%;
        font-weight: bold;
        transform: translate(-50%,-50%);
    } 
    .page2{
       min-height: 100vh;
        width:100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vw 0;
    }
    .page2 .elem{
        width: 70%;
        height: 100vh;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    .page2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.1;
    }
    .page3{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap ;
    }
    .child{
        height: 55vh;
        width: 80vw;
        position: relative;
        cursor: pointer;
        padding:0vw 15vw;
        
    }
    .child img{
        height: 50%;
    }
    .page4{
        height: 70vh;
        width: 100%;   
        display: flex;
        align-items: center;
    }
    .logo2 svg{
        height: 110px;
    }
    .email{
        font-size: 2.5vw;
    }
}